# Recommending Locations for an Italian Restaurant in Fort Worth

In [18]:
#librarite
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Data Collection

In [19]:
# Demographic data for the United States

# Load the CSV file
file_path = 'data/quickfacts.csv'
quickfacts_df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
quickfacts_df.head()

,Fact,Fact Note,"Fort Worth city, Texas","Value Note for Fort Worth city, Texas",United States,Value Note for United States
0,"Population estimates, July 1, 2024, (V2024)",NaN,NaN,NaN,"340,110,988",NaN
1,"Population estimates, July 1, 2023, (V2023)",NaN,"978,468",NaN,"334,914,895",NaN
2,"Population estimates base, April 1, 2020, (V2024)",NaN,NaN,NaN,"331,515,736",NaN
3,"Population estimates base, April 1, 2020, (V2023)",NaN,"918,907",NaN,"331,464,948",NaN
4,"Population, percent change - April 1, 2020 (es...",NaN,NaN,NaN,2.6%,NaN

In [20]:
# Remove columns with NaN values
quickfacts_df = quickfacts_df.dropna(axis=1, how='all')

#Remove Fact Note column
quickfacts_df = quickfacts_df.drop(columns=['Fact Note'])

#Remove rows with NaN values
quickfacts_df = quickfacts_df.dropna(axis=0, how='any')

# Display the DataFrame
quickfacts_df

,Fact,"Fort Worth city, Texas",United States
1,"Population estimates, July 1, 2023, (V2023)","978,468","334,914,895"
3,"Population estimates base, April 1, 2020, (V2023)","918,907","331,464,948"
5,"Population, percent change - April 1, 2020 (es...",6.5%,1.0%
6,"Population, Census, April 1, 2020","918,915","331,449,281"
7,"Population, Census, April 1, 2010","741,206","308,745,538"
...,...,...,...
62,"Population per square mile, 2020","2,646.1",93.8
63,"Population per square mile, 2010","2,181.2",87.4
64,"Land area in square miles, 2020",347.27,"3,533,038.28"
65,"Land area in square miles, 2010",339.82,"3,531,905.43"
66,FIPS Code,"""4827000""","""1"""